<div class="container">
  <button style="display:block;float:right;margin-top:15px;" class="btn btn-default" ui-sref="new">Create your own</button>
  <h1 class="page-header">All Programs:</h1>

  <div style="position:relative;margin-bottom:10px;margin-top:10px;border: 2px solid; border-radius: 5px;" ng-repeat="item in vm.items">
    <div ui-sref="edit({id: item._id.$oid})" style="padding:10px;">
      <div style="display:inline-block;font-size:20px;"><b>{{item.name}}</b></div>
      <div style="float:right;display:inline-block;">{{item.duration}} weeks</div>
      <div style="display:block;">
        <div style="display:inline"><b>Program Goal:</b> {{item.goal}}</div>
        <div style="display:inline;float:right;padding:3px;margin-right:3px;border:1px solid;border-radius:5px;" ng-repeat="tag in item.tags">{{tag.text}}</div>
    </div>
  </div>
</div>
